@mixin container_desktop() {
  max-width: 1160px;
  margin: auto;
  height: 100%;
  position: relative;
}
@mixin header_text() {
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  color: $header_footer_text;
  transition: 0.2s;
  cursor: pointer;
}
@mixin header_text_hover() {
  transform: scale(1.1);
  color: $corporate_color_hover;
}