.burger-button {
  position: absolute;
  width: 20px;
  height: 12px;
  background-image: url(/layout/header/img/burger_menu.svg);
  background-size: cover;
  background-repeat: no-repeat;
  right: 18px;
  top: 10px;
  cursor: pointer;
  z-index: 3;

  &::before {
    content: "";
    height: 34px;
    width: 48px;
    position: absolute;
    left: -11px;
    top: -10px;
  }
}
.burger-button_close {
  background-image: url(/layout/header/img/x_icon.svg);
  width: 15px;
  height: 15px;
}
.shadow {
  transition: 0.3s;
  filter: brightness(0.37);
}
.no-scroll {
  overflow: hidden;
}
.burger-menu {
  position: absolute;
  height: 329px;
  width: 100%;
  top: -350px;
  background-color: rgb(244, 243, 243);
  padding: 10px;
  transition: 0.5s;
  box-shadow: inset 0px -111px 9px -104px #000000;
}
.burger-nav {
  .designed-burger {
    text-decoration: none;
    color: #333B41;
    cursor: pointer;
  }
  .logo {
    border-color: $corporate_color;
    width: 66px;
    height: 42px;

    h1 {
      margin-top: 3px;
      font-size: 15px;
      color: $corporate_color;
    }
    .bamboo {
      background-image: url(/layout/header/img/bamboo_orange.svg);
      left: 7px;
      bottom: 4px;
    }
  }
  .burger-container-nav{
    display: flex;
    flex-direction: column;
    margin-top: 30px;

    span {
      cursor: pointer;
      width: 100px;
      color: #333B41;
      margin-bottom: 18px;
    }
  }
  .shadow {
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: #333B41;
  }
}