.header {
  background-color: $background_header_footer;
  height: 80px;
  width: 100%;
}
.nav {
  display: grid;
  grid-template-columns: 82px 1fr 120px;
  padding: 0px 30px 0px 30px;
  align-items: center;
  @include container_desktop();
}
.container-nav {
  display: grid;
  grid-template-columns: repeat(5,auto);
  grid-template-rows: auto;
  grid-column-gap: 58px;
  margin-left: 63px;
  justify-content: left;

  span {
    @include header_text();
  }
}
.designed {
  @include header_text();
  justify-self: end;
  text-decoration: none;
}

@import './media_small_desktop.scss';
@import './media_tablet.scss';
@import './mobile.scss';