@media (max-width: $small_desktop) {
  .section-4 {
    padding-top: 30px;
    padding-bottom: 51px;

    .container-section_4 {
      max-width: 940px;
      padding-top: 30px;

      p:nth-child(2) {
        margin-top: 21px;
        margin-left: 49px;
      }
      p:nth-child(3) {
        margin: 20px 80px 0px 49px;
      }
      p:nth-child(4) {
        margin: 10px 80px 0px 49px;
      }
      p:nth-child(5) {
        margin-top: 42px;
      }
    }
  }
  .pay {
    grid-gap: 145px 30px;
  }
}
