.section-4 {
  background: linear-gradient(315.75deg, rgba(254, 210, 144, 0.7) 30.06%, #FEBDAB 100.95%, rgba(254, 210, 144, 0.7) 106.36%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%);
  opacity: 0.9;
  position: relative;
  padding-top: 69px;
  padding-bottom: 100px;

  .container-section_4 {
    @include container_desktop();
    padding-top: 40px;
    padding-bottom: 54px;
    background: rgba(253, 253, 255, 0.52);
    backdrop-filter: blur(2px);
    border-radius: 20px;

    p:nth-child(1){
      font-size: 48px;
      line-height: 120%;
      color: #FE9013;
      text-align: center;
    }
    p:nth-child(2){
      justify-self: start;
      margin-top: 33px;
      margin-left: 99px;
      font-size: 24px;
      color: #333B41;
    }
    p:nth-child(3){
      font-weight: 500;
      line-height: 130%;
      color: #333B41;
      margin-top: 39px;
      margin-left: 99px;
    }
    p:nth-child(4){
      line-height: 130%;
      color: #333B41;
      margin: 10px 190px 0px 99px;
    }
    p:nth-child(5){
      font-size: 36px;
      line-height: 130%;
      color: #333B41;
      text-align: center;
      margin-top: 60px;
    }
  }
}
.emergency-support_fund {
  color: #333B41;
  border-bottom:  solid #FE9013;
  padding-bottom: 2px;
  cursor: pointer;
}
.pay {
  display: grid;
  height: 362px;
  grid-template-columns: 168px 69px 168px 69px 168px;
  grid-template-rows: 168px 30px;
  grid-gap: 135px 30px;
  justify-content: center;
  margin-top: 40px;

  .pay-img_container {
    position: relative;
    box-sizing: border-box;
    background: #FFFFFF;
    border-radius: 5px;
    border: solid rgba(249, 128, 75, 1);
    display: grid;
    align-items: center;
    justify-items: center;
    h3 {
      position: absolute;
      line-height: 130%;
      width: 168px;
      height: 40px;
      bottom: -74px;
    }
  }
  .vector-arrow {
    background-image: url(/layout/pages/home/img/arrow.svg);
    background-size: cover;
    align-self: center;
    width: 70px;
    height: 37px;
  }
}
.feed-a_friend_now {
  @include button_radius();
  grid-column: 2/5;
  justify-self: center;
}
