<footer class="footer">
  <div class="footer-container">
    <div class="container-contact">
      <!-- logo -->
      <button class="footer-donate_button">donate for volunteers</button>
        <div class="contact-container">
          <div class="contact-social">
            <div class="contact-logo">
              <img src="img/facebook.svg" alt="facebook">
            </div>
            <a href="https://www.facebook.com/">Facebook</a>
          </div>
          <div class="contact-social">
            <div class="contact-logo">
              <img src="img/twitter.svg" alt="Twitter">
              </div>
              <a href="https://twitter.com/">Twitter</a>
          </div>
          <div class="contact-social">
            <div class="contact-logo">
              <img src="img/instagram.svg" alt="Instagram">
            </div>
            <a href="https://www.instagram.com/">Instagram</a>
          </div>
          <div class="contact-social">
            <div class="contact-logo">
              <img src="img/youtube.svg" alt="YouTube">
            </div>
            <a href="https://www.youtube.com/">YouTube</a>
          </div>
        </div>
    </div>
    <div class="container-nav_footer">
      <span class="about">About</span>
      <span class="map">Map</span>
      <span class="zoos">Zoos</span>
      <span class="contact">Contact us</span>
    </div>
    <div class="subscribe-to-our-news_text">
      <form class="email-form">
        <label for="email">Subscribe to our news</label>
        <input type="email"
               id="email"
               class="enter-email"
               placeholder="Enter your email"
               required>
        <input type="submit"
               class="submit"
               value="Submit">
       </form>
    </div>
    <p class="Designed-by-Alisa">
      Designed by Alisa Samborskaya <br> ©RSSchool & ©Yem Digital 2021
    </p>
  </div>
</footer>