@media (max-width: $mobile) {
  .section-3 {
    height: auto;
    overflow: hidden;

    .choose-your_favorite {
      margin-top: 29px;
      margin-bottom: 59px;
    }
    &::before {
      width: 74px;
      height: 75px;
      left: -13px;
    }
    &::after {
      width: 68px;
      height: 63px;
    }
  }
  .pets-container {
    height: 1372px;
    margin-top: 30px;
  }
  .pets {
    grid-template-rows: repeat(4, 332px);
    grid-template-columns: 285px;
    grid-gap: 21px 0px;
    margin: auto;
    overflow: hidden;
  }
  .pets-buttons {
    display: none;
  }
}