.section-3 {
  position: relative;
  height: 1147px;

  &::before {
    content: '';
    background-image: url(/layout/pages/home/img/palm_foto.png);
    background-size: cover;
    position: absolute;
    width: 292px;
    height: 460px;
    bottom: 0px;
  }

  &::after {
    content: '';
    position: absolute;
    background-image: url(/layout/pages/home/img/strelitzia_1.png);
    background-size: cover;
    right: 0px;
    bottom: 0px;
    width: 368px;
    height: 275px;
  }
  .choose-your_favorite {
    @include button_radius();
    margin: auto;
  }
}
.container-section_3 {
  position: relative;
  max-width: 1324px;
  padding-top: 40px;
  margin: auto;
}
.pets-container {
  @include flexCenter();
  position: relative;
  height: 876px;
  margin-bottom: 77px;
}
.pets {
  display: grid;
  position: absolute;
  width: 1160px;
  grid-template: repeat(2, 428px) / repeat(3, 367px);
  grid-gap: 20px 28px;
  transform: translateX(0%);
  transition: 0.5s;
}
.animals-block {
  position: relative;
  box-sizing: border-box;
  border-radius: 5px;
  border: solid $corporate_color;
  background-color: #FFFFFF;
  overflow: hidden;
  cursor: pointer;

  &:hover {
    .animals-block_foto {
      transform: scale(1.45);
      filter: contrast(40%);
      filter: brightness(60%);
    }
    .animals-block_content {
      color: rgb(255, 255, 255);
      margin-top: -150px;
    }
  }
}
.animals-block_content {
  position: relative;
  width: 100%;
  margin-bottom: 150px;
  padding-top: 4px;
  padding-left: 15px;
  transition: 0.2s;
}
.eating {
  position: relative;
  float: right;
  margin: 2px 21px 0px 0px;
  width: 50px;
  height: 37px;
}
.animals-block_text {
  display: inline-block;

  h2 {
    font-weight: 500;
    font-size: 16px;
    line-height: 139%;
    text-transform: uppercase;
  }
  h3 {
    font-weight: 300;
    font-size: 15px;
    line-height: 120%;
  }
}
.animals-block_foto {
  position: relative;
  background-size: cover;
  width: 100%;
  height: 86%;
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
  transition: 0.2s;
}
.pets-buttons {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.button-left {
  @include buttons_slider();
}
.button-right {
  @include buttons_slider();
  transform: rotate(-180deg);
}
.choose-your_favorite {
  @include button_radius();
  margin: auto;
}

@import './media_max_1500px.scss';
@import './media_small_desktop.scss';
@import './media_tablet.scss';
@import './mobile.scss';